<div>
    <h1>Demande de réinitialisation de mot de passe</h1>
    <p>Une demande de changement de mot de passe vient d'être effectuée sur le compte de {{username}}</p>
    <p>Pour changer de mot de passe, veuillez cliquer sur le lien suivant :</p>
    <br/>
    <a class='btn' href="{{link}}">Changer mon mot de passe</a>
</div>