<div>
    <h1>Bienvenue sur MetalEast.fr {{username}}</h1>
    <p>Tu viens créer un compte sur le site n°1 des metalleux de l'Est !</p>
    <p>Pour activer ton compte, merci de confirmer ton adresse e-mail en cliquant sur le lien suivant :</p>
    <br/>
    <a class='btn' href="{{link}}">Confirmer mon adresse e-mail</a>
</div>